<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLabel">
        Add a comment
      </h5>

      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <form action="/comments" method="post">
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <input type="hidden" name="game_id" value="<%= game.id %>">

      <div class="modal-body">
        <div class="form-group">
          <textarea class="form-control" name="text" placeholder="Type comment here.." rows="3"></textarea>
        </div>

        <div class="form-group">
          <p>Select your name below: </p>
          <select class="form-control" name="person_id">
            <% people.each do |person| %>
              <option value="<%= person.id %>">
                <%= person.full_name %>
              </option>
            <% end %>
          </select>
        </div>

        <div class="form group">
          <button type="submit" class="btn-lg btn-success mb-4">
            Add Comment
          </button>

          <div class="mb-2">
            Or if you don't see your name:
          </div>

          <a class="btn btn-success" href="/people/new">
            Add A New Player
          </a>
        </div>
      </div>
    </form>
  </div>
</div>
