<div class="jumbotron">
  <div class="row">
    <div class="col-md-6">
      <h1 class="display-4"><%= game.game_date %></h1>
    </div>

    <div class="col-md-6">
      <h1 class="display-4">
        Players: <%= game.player_count %>
      </h1>
    </div>
  </div>

  <div class="mb-5">
    <% if game.players.length > 0 %>
      <%= render partial: "players/player_list", locals: { game: game } %>
    <% else %>
      <p>No Players Yet!</p>
    <% end %>
  </div>

  <p class="lead">
    <a class="btn btn-success btn-lg" href="#" role="button" data-toggle="modal" data-target="#selectPlayerModal">
      Join Game
    </a>
  </p>
</div>

<div class="modal fade" id="selectPlayerModal" tabindex="-1" role="dialog">
    <%= render partial: "people/select_modal", locals: { people: game.available_people, game: game } %>
</div>
