<div class="row">
  <div class="col-md-12">
    <div class="card">
      <h3 class="card-header">
        <div class="row">
          <div class="col-md-6">
            <%= Date.today %>
          </div>

          <div class="col-md-6">
            Players:
          </div>

        </div>
      </h3>
      <div class="card-block">
        <h4 class="card-title">Special title treatment</h4>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <ul>
          <li>one</li>
          <li>two</li>
        </ul>
      </div>
    </div>
  </div>
</div>
