<div class="page-header">
  <h1>
    Games
    <a href="/games/new" class="btn btn-lg btn-success">New Game</a>
  </h1>
</div>

<!-- <%= render "games/current_game_card" %> -->

<%= render "games/game_card" %>
