<div class="page-header">
  <h1>
    Games
    <a href="/games/new" class="btn btn-lg btn-success">New Game</a>
  </h1>
</div>

<%= render partial: "games/current_game_card", locals: { game: @games.first } %>

<% @games.each do |game| %>
  <%= render partial: "games/game_card", locals: { game: game } %>
<% end %>

<div class="modal fade" id="selectPlayerModal" tabindex="-1" role="dialog">
    <%= render partial: "people/select_modal", locals: { people: @people } %>
</div>
